<nav class="navbar ">
  <div class="navbar-brand">
    <h1 class="navbar-item">Secure Page</h1>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field is-grouped">
        <p class="control">
          <form novalidate="" action="php/logout.php" method="post">
            <button type="submit" class="button is-primary has-text-centered">Logout</button>
          </form>
        </p>
      </div>
    </div>
  </div>

</nav>


<script type='text/javascript'>
  $(document).ready( function() {
        
    $('button').bind('click', function(e) {
      
      e.preventDefault();
      
      var request = $.ajax( {
        url: 'php/logout.php',
        type: "POST",
        data: {},
        beforeSend: function(xhr) {
          //xhr.setRequestHeader('Authorization', 'Bearer ' + formToken);
        }
      });

      // Request success
      request.done(function(result) {
        console.log('success');
        window.location = window.location.pathname;
      });

      // Request failure
      request.fail(function(jqXHR, textStatus) {
      });
    });
  });
</script>

